.confirmation-holder{
    right: 0%;
    left: 0%;
    top:45%;
}
.confirmation{
    /* right: 25%;
    top:35%; */
    width: 50%;
    background-color: #212529 !important;
}

@media (max-width : 570px) {
    .confirmation{
        /* background-color: red !important; */
    width: 80% !important;
}

}