.bg{
    background-color: #2f3135;
    color: white !important;
}
.iconColor{
    color:#2ff3e0 !important;
}
.c{
    color: #FFFFFF;
}
.custom_width{
width:20%;

}
@media (min-width:768px){
.custom_width{
width:10%;
}
}
@media (min-width:1024px){
.custom_width{
width:5%;
}
}